:root {
    --background-color: #6dd8e8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    background-image: url('Images/cappy_bg.jpg');
    height: 400px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

#budgetContainer {
    display:inline-block;
}

#totalContainer {
    display: inline;
}

#capyMood{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}